/trees_w_tikz.aux
/trees_w_tikz.log
/trees_w_tikz.out
/trees_w_tikz.pyg
/trees_w_tikz.synctex.gz
/game_demo.aux
/game_demo.bbl
/game_demo.blg
/game_demo.log
/game_demo.out
/game_demo.pre
/game_demo.sage
/game_demo.synctex.gz
