
2013/kr2_mirek/info_kr2.aux

2013/kr2_mirek/info_kr2.log

2013/kr2_mirek/info_kr2.out

2013/kr2_mirek/info_kr2.synctex.gz

2013/press_dyson_problem/pdyson_problem_ranh.aux

2013/press_dyson_problem/pdyson_problem_ranh.log

2013/press_dyson_problem/pdyson_problem_ranh.synctex.gz
