
2013/kr2_mirek/info_kr2.aux

2013/kr2_mirek/info_kr2.log

2013/kr2_mirek/info_kr2.out

2013/kr2_mirek/info_kr2.synctex.gz

2013/press_dyson_problem/pdyson_problem_ranh.aux

2013/press_dyson_problem/pdyson_problem_ranh.log

2013/press_dyson_problem/pdyson_problem_ranh.synctex.gz

press_dyson_problem/pdyson_problem_ranh.log

press_dyson_problem/pdyson_problem_ranh.aux

gt_icef/gt_double_aucion/gt_double_auction.synctex.gz

gt_icef/gt_double_aucion/gt_double_auction.log

gt_icef/gt_double_aucion/gt_double_auction.aux

games_pset/all_solutions.tex

games_pset/games_pset_united.bbl

games_pset/games_pset_united.tdo
