/_region_.dvi
/_region_.log
/prv_gt_problems_utf8.dvi
/prv_gt_problems_utf8.log
/prv_new_game_ps_utf8.log
/new_game_ps_utf8.tex.bak
/new_game_ps_utf8.tex~
/new_game_ps_utf8.toc
/new_game_ps_utf8.tps
/new_game_ps_utf8.pyg
/new_game_ps_utf8.sage
/new_game_ps_utf8.synctex.gz
/new_game_ps_utf8.tcp
/new_game_ps_utf8.log
/new_game_ps_utf8.out
/new_game_ps_utf8.pre
/new_game_ps_utf8.bbl
/new_game_ps_utf8.blg
/new_game_ps_utf8.idx
/new_game_ps_utf8.ilg
/new_game_ps_utf8.ind
/gt_problems_utf8.tex.bak
/gt_problems_utf8.tex~
/gt_problems_utf8.tps
/new_game_ps_utf8.asy
/new_game_ps_utf8.aux
/gt_problems_utf8.log
/gt_problems_utf8.tcp
