/auc_cont2.aux
/auc_cont2.log
/auc_cont2.out
/auc_cont2.pre
/auc_cont3.aux
/auc_cont3.log
/auc_cont4.out
/auc_cont4.pre
/auc_cont4.sage
/auc_cont4.synctex.gz
/auc_contr1.aux
/auc_contr1.log
/auc_contr1.out
/auc_contr1.pre
/auc_dogon_sol.aux
/auc_dogon_sol.log
/auc_dogon_sol.out
/auc_dogon_sol.pre
/auc_dogon_sol.sage
/auc_dogon_sol_hidd.aux
/auc_dogon_sol_hidd.log
/*.aux
/*.pre
/*.idx
/*.out
/*.log
/*.synctex.gz
/*.sage
/auct_plots.exp.gnuplot
/auct_plots.exp.table
/*.pgf-plot.gnuplot
/*.pgf-plot.table
/*.s.gnuplot
/*.s.table
/auct_plots.sin.gnuplot
/auct_plots.sin.table
/auct_plots.x.gnuplot
/auct_plots.x.table
/*.lyx~
/*.toc
